<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/login.css" />
    <title>LOG IN</title>
</head>
<body>
  <form class="login-page">
    <h3>FARMER LOG IN</h3>
    <div class="form-details">
      <input class="bar" type="email" placeholder="Email" />

      <input type="password" class="bar" placeholder="Password" />
    </div>
    <div class="login-btn">
      <button class="button-28-login"><a href="/feed">Log in</a></button>
    </div>
  </form>
</body>
