<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Log In</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <img
          src="/images/trader-login.jpg"
          alt="Login Image"
          class="login-image"
        />
        <form class="login-form" method="POST" action="/trader-submit">
          <h3>Farmer Log In</h3>
          <div class="form-details">
            <input
              class="bar"
              type="text"
              name="username"
              placeholder="Username"
              required
            />
            <input
              type="password"
              class="bar"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <div class="login-btn">
            <input type="submit" class="button-28-login" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
