<!DOCTYPE html>
<body>
  <form className="login-page">
    <h3>TRADER LOG IN</h3>
    <div className="form-details">
      <input className="bar" type="email" placeholder="Email" />

      <input type="password" className="bar" placeholder="Password" />
    </div>
    <div className="login-btn">
        <button className="button-28-login"><a href="/feed">Log in</a></button>
    </div>
  </form>
</body>
