<!DOCTYPE html>
<head>
  
</head>
<body>
  <header>
    <h1>Welcome to the MarketPlace</h1>
  </header>

  <button><a href="/farmer-login">Farmer Login</a></button>
  <button><a href="/trader-login">Trader Login</a></button>
</body>
</html>
