<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/welcome.css" />
  <title>Welcome</title>
</head>
<body>
  <div class="container">
    <div class="button-container">
      <button><a href="/farmer-login">Farmer Login</a></button>
      <button><a href="/trader-login">Trader Login</a></button>
    </div>
  </div>
</body>
</html>
