<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/node/css/login.css" />
  <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="card">
          <img
            src="/node/images/farmer-login.png"
            alt="Login Image"
            class="login-image"
          />
  
          <form class="login-form" method="POST" action="/node/login">
            <h3>Log In</h3>
            <div class="form-details">
              <input
                class="bar"
                type="text"
                name="username"
                placeholder="Username"
                required
              />
              <input
                type="password"
                class="bar"
                name="password"
                placeholder="Password"
                required
              />
            </div>
            <div class="login-btn">
              <input type="submit" class="button-28-login" />
            </div>
          </form>
  
          <script>
            const urlParams = new URLSearchParams(window.location.search);
            const hasError = urlParams.get("error");
  
            if (hasError) {
              alert("Incorrect username or password. Please try again.");
            }
          </script>
        </div>
      </div>
 
</body>
</html>




